.wrap6 {
  width: 100%;
  .inner {
    padding: 40px 0;
    display: flex;
    gap: 0 60px;
    justify-content: space-between;
    border-bottom: 1px solid #e1edfd;
    border-top: 1px solid #e1edfd;
    h2 {
      margin-top: 20px;
      display: block;
      text-align: center;
    
    }
    .inner2 {
      max-width: 1100px;
      margin: 0 auto;
      .banner {
        img {
          border: 1px solid #e1edfd;
          width: 100%;
          box-sizing: border-box;
        }
      }
    }
  }
<<<<<<< HEAD
}

@media (max-width:767px) {
  .wrap6 {
    width: 100%;
    .inner {
      padding: 40px 40px;
      display: flex;
      flex-direction: column;
      gap: 0 60px;
      justify-content: left;
      border-bottom: 1px solid #e1edfd;
      border-top: 1px solid #e1edfd;
      h2 {
        margin-top: 20px;
        display: block;
        text-align: left;
        margin-bottom: 40px;
      
      }
      .inner2 {
        max-width: 1280px;
        margin: 0 auto;
        .banner {
          img {
            border: 1px solid #e1edfd;
            max-width: 300px;
            box-sizing: border-box;
          }
        }
      }
    }
  }
=======
>>>>>>> 2f78274e78f826f0689cb8adfa7538b20e1b8971
}