.wrap2 {
  background-color: #f5f7fa;
  height: 405px;
    .context {
      display: flex;
      justify-content: space-between;
      padding-top: 40px;
      h2 {
      }
      a {
        display: block;
        color: #727272;
        font-weight: bold;
        span {
          &:last-child {
            margin-left: 20px;
          }
          &:hover {
            text-decoration: underline;
            text-underline-offset: 5px;
            cursor: pointer;
          }
        }
      }
    }
  .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    width: 136px;
    height: 140px;
    background-color: #fff;
    border-radius: 10px;
    a {
      display: block;
      text-align: center;
    }
    span.green {
      display: block;
      color: #fff;
      font-weight: bold;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      line-height: 40px;
      margin-bottom: 15px;
      background-color: #439775;
    }
    span.pink {
      display: block;
      color: #fff;
      font-weight: bold;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      line-height: 40px;
      margin-bottom: 15px;
      background-color: #eb4887;
    }
  }
  .green {
    box-sizing: border-box;
    cursor: pointer;
    &:hover {
      border: 2px solid #439775;
      font-weight: bold;
    }
  }
  .pink {
    box-sizing: border-box;
    cursor: pointer;
    &:hover {
      border: 2px solid #eb4887;
      font-weight: bold;
    }
  }
}

/* swiper */
.swiper .swiper-pagination {
  position: absolute;
  bottom: 0 !important;
}
.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: #1c5a94;
  opacity: 0.5;
}
.swiper-pagination-bullet-active {
  opacity: 1;
}
.swiper-button-next {
  color: #1c5a94;
}

.swiper-button-prev {
  color: #1c5a94;
<<<<<<< HEAD
}

@media (max-width:767px) {
  .wrap2 {
    background-color: #f5f7fa;
    height: 260px;
      .context {
        padding: 0 40px;
        display: flex;
        justify-content: space-between;
        padding-top: 40px;
        h2 {
        }
        a {
          display: none;
          span {
      
          }
        }
      }
    .mySwiper {
      max-width: 300px;
      height: 170px;
      .box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        max-width: 80px;
        height: 100px;
        background-color: #fff;
        border-radius: 10px;
        a {
          display: block;
          text-align: center;
          padding: 0 3px;
        }
        span.green {
          display: block;
          color: #fff;
          font-weight: bold;
          max-width: 40px;
          height: 40px;
          border-radius: 50%;
          line-height: 40px;
          margin-bottom: 10px;
          background-color: #439775;
        }
        span.pink {
          display: block;
          color: #fff;
          font-weight: bold;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          line-height: 40px;
          margin-bottom: 10px;
          background-color: #eb4887;
        }
      }
      .green {
        box-sizing: border-box;
        cursor: pointer;
        &:hover {
          border: 2px solid #439775;
          font-weight: bold;
        }
      }
      .pink {
        box-sizing: border-box;
        cursor: pointer;
        &:hover {
          border: 2px solid #eb4887;
          font-weight: bold;
        }
      }
    }
  }
  
  /* swiper */
  .swiper .swiper-pagination {
    position: absolute;
    bottom: 0px !important;
  }
  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: #1c5a94;
    opacity: 0.5;
  }
  .swiper-pagination-bullet-active {
    opacity: 1;
  }
  .swiper-button-next {
    color: #1c5a94;
  }
  
  .swiper-button-prev {
    color: #1c5a94;
  }
=======
>>>>>>> 2f78274e78f826f0689cb8adfa7538b20e1b8971
}