.wrap3{
  .inner{
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    .area {
      margin-top: 30px;
      img {
        border-radius: 10px;
      }
      .search {
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 840px;  
        a {
          display: block;
          width: 116px;
          font-size: 16px;
        }
        form {
          width: 180px;
          select {
            padding-bottom: 5px;
            border: none;
            font-size: 16px;
            border-bottom: 2px solid #000;
          }
        }
        input {
          width: 480px;
          height: 30px;
          border-radius: 10px;
          border: 3px solid #417ce1;
          font-size: 16px;
          padding: 10px;
          margin-right: -35px;
        }
        i {
         position: relative;
         right: 30px;
         top: 0;
         font-size: 25px;
         color: #417ce1;
        }
      }
    }
    .login_box {
      border-radius: 10px;
      margin-top: 30px;
      width: 398px;
      border: 1px solid #e1e1e1;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .login {
        text-align: center;
        a {
          display: block;
          font-size: 16px;
          font-weight: bold;
          line-height: 1.5;
          margin-top: 20px;
        }
        button {
          background-color: #417ce1;
          width: 346px;
          height: 52px;
          border-radius: 10px;
          color: #fff;
          font-weight: bold;
          font-size: 16px;
          border: none;
          margin-top: 20px;
          transition: .3s;
          &:hover {
            background-color: #dbe7f8;
            color: #828282;
          }
          a {
            display: block;
            margin-top: 0;
          }
        }
        .text {
          margin-top: 10px;
          display: flex;
          justify-content: space-between;
          .left {
            display: flex;
          }
          a {
            display: block;
            font-weight: normal;
            font-size: 14px;
            &:last-child {
              margin-left: 10px;
            }
          }
        }
      }
    }
  }
}

@media (max-width:767px){
  .wrap3{
    .inner{
      padding: 0 40px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .area {

        img {
          border-radius: 10px;
          display: none;
        }
        .search {
          margin-top: 10px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          max-width: 400px;  
          a {
            display: none;
          }
          form {
            display: none;
            select {

            }
          }
          input {
            box-sizing: border-box;
            max-width:300px;
            height: 50px;
            border-radius: 10px;
            border: 3px solid #417ce1;
            font-size: 16px;
            padding: 10px;
            margin-right: -35px;
          }
          i {
           position: relative;
           right: 30px;
           top: 0;
           font-size: 25px;
           color: #417ce1;
          }
        }
      }
      .login_box {
        border-radius: 10px;
        margin-top: 30px;
        padding: 20px 0;
        max-width: 300px;
        border: 1px solid #e1e1e1;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .login {
          text-align: center;
          a {
            display: block;
            font-size: 16px;
            font-weight: bold;
            line-height: 1.5;
            margin-top: 20px;
          }
          button {
            background-color: #417ce1;
            max-width: 250px;
            height: 52px;
            border-radius: 10px;
            color: #fff;
            font-weight: bold;
            font-size: 16px;
            border: none;
            margin-top: 20px;
            transition: .3s;
            &:hover {
              background-color: #dbe7f8;
              color: #828282;
            }
            a {
              display: block;
              margin-top: 0;
            }
          }
          .text {
            margin-top: 10px;
            display: flex;
            justify-content: space-between;
            .left {
              display: flex;
            }
            a {
              display: block;
              font-weight: normal;
              font-size: 14px;
              &:last-child {
                margin-left: 10px;
              }
            }
          }
        }
      }
    }
  }
}