.wrap3 {
  .inner {
    display: flex;
    .content {
      display: flex;
      justify-content: space-between;
      padding-top: 40px;
      margin-bottom: 20px;
      a {
        display: block;
        padding-right: 20px;
        color: #417ce1;
        font-size: 16px;
        font-weight: bold;
        span {
          &:hover {
            cursor: pointer;
            text-decoration: underline;
            text-underline-offset: 5px;
          }
          &:last-child {
            padding-left: 20px;
          }
          i {
            color: #417ce1;
          }
        }
      }
    }
    .one {
      margin-top: 40px;
      width: 840px;
      height: 220px;
      /* border: 1px solid #ccc;
      border-radius: 10px; */
      .swiper_box {
        .skyblue {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          .img_box {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #f5f7fa;
            border-radius: 50%;
            width: 80px;
            height: 80px;
            cursor: pointer;
            &:hover>a>img {
              transform: scale(1.2);
            }
            img {
              transition: .3s;
            }
          }
          a {
            display: block;
            margin-top: 5px;
            text-align: center;
          }
        }
      }
    }
    .notice {
      margin-top: 40px;
      width: 400px;
      height: 220px;
      /* border: 1px solid #ccc;
      border-radius: 10px; */
      .text_box {
        margin-top: 30px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        h2 {
          color: #417ce1;
        }
        .flow {
          overflow: hidden;
          width: 300px;
          height: 30px;
          background-color: #dbe7f8;
          .flow2 {
            position: relative;
            display: flex;
            line-height: 20px;
            .blue {
              display: block;
              position: absolute;
              top: 0;
              left: 10px;
              display: inline-block;
              margin-right: 20px;
              color: #417ce1;
              padding: 5px;
              animation: ani1 15s linear infinite;
             }
             .blue2 {
              display: block;
              position: absolute;
              top: 0;
              left: 10px;
              display: inline-block;
              margin-right: 20px;
              color: #417ce1;
              padding: 5px;
              animation: ani2 15s linear infinite;
             }
          }
         }
      }
      .notice_box {
        margin: 10px 0;
        padding: 8px;
        line-height: 1.7;
        ul {
          li {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 16px;
            &:hover {
              text-decoration: underline;
              text-underline-offset: 5px;
            }
          }
        }
        .blue {
          display: block;
          color: #417ce1;
          font-weight: bold;
          font-size: 16px;
          display: flex;
        }
       }
    }
  }
}
@keyframes ani1 {
  0%{ transform: translateX(0%) }
100%{ transform: translateX(-100%) }
}
@keyframes ani2 {
  0%{ transform: translateX(100%) }
100%{ transform: translateX(0%) }
}